/* Element styling */

body {
  background-color: #FFE4E1;
}

h1 {
  margin: 3% 0;
}

/* Class styling */

div>select.form-control {
  margin-left: 5%;
}

/* ID styling */
#output {
  display: none;
}

#error-div{
  display: none;
}

#arrow {
  margin: -5.2% 1% 0 3%;
  font-size: 5.5em;
}

#amount {
  margin-left: -5%;
}

#convert {
  display: flex;
  margin: 2% 45.5%;
}